/nginx/logs/
/nginx/rpi-cam/live/
/rpi-cam/*.jpg
/rpi-cam/*.h264

# YOLO
/yolo/saved/
/yolo/*.jpg
/yolo/onnxruntime_profile__*
/yolo/calibration*
/yolo/runs/

# Data
/data/dataset*
/data/JSON2YOLO/
/data/label-studio/
/cache/*.json

# Streeview
/streetview/images/*.png
/streetview/*.gif
/streetview/cache/*.gif
/streetview/cache/*.json

# rust
/target/
Cargo.lock

# Vscode
/.vscode/
*/__pycache__/
